@charset "UTF-8";

:root {
    --blue1: #06357a;
    --blue2: #0a68c7;
    --blue3: #0d6efd;
    --green: #46c35f;
    --orange: #f29824;
    --pink: #e84f9a;
}

.text-success {
    --bs-text-opacity: 1;
    color: var(--green) !important;
  }
.text-orange {
    --bs-text-opacity: 1;
    color: var(--orange) !important;
  }
.text-pink {
    --bs-text-opacity: 1;
    color: var(--pink) !important;
  }























/* --------------------------------------------------- */
/* @MENU */
.menu-state-primary
    .menu-item.hover:not(.here)
    > .menu-link:not(.disabled):not(.active):not(.here),
.menu-state-primary
    .menu-item:not(.here)
    .menu-link:hover:not(.disabled):not(.active):not(.here) {
    font-weight: bold;
}

.header .header-tabs .nav-link:hover {
    cursor: pointer;
}

/* @ COLOR */
.text-custom-blue3 {
    color: var(--blue3) !important;
}

/* @ PRELOADER */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
}

.preloader .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font: 14px arial;
}

svg .svg-elem-1 {
    stroke-dashoffset: 87.65409088134766px !important;
    stroke-dasharray: 87.65409088134766px !important;
    fill: transparent !important;
    -webkit-transition: stroke-dashoffset 1s
            cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s,
        fill 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.8s !important;
    transition: stroke-dashoffset 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s,
        fill 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.8s !important;
}

svg.active .svg-elem-1 {
    stroke-dashoffset: 0 !important;
    fill: #06357a !important;
}

svg .svg-elem-2 {
    stroke-dashoffset: 244.83628845214844px !important;
    stroke-dasharray: 244.83628845214844px !important;
    fill: transparent !important;
    -webkit-transition: stroke-dashoffset 1s
            cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.12s,
        fill 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) 1.2000000000000002s !important;
    transition: stroke-dashoffset 1s cubic-bezier(0.55, 0.055, 0.675, 0.19)
            0.12s,
        fill 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) 1.2000000000000002s !important;
}

svg.active .svg-elem-2 {
    stroke-dashoffset: 0 !important;
    fill: #807f83 !important;
}

/* @ LOADER DASHBOARD */
.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #2b2b40;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1);
    }
}

@keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}
/*@ PIE PROGRESS */
.pie_progress {
    position: relative;
    text-align: center;

    -webkit-transform-style: preserve-3d;

    transform-style: preserve-3d;
}

.pie_progress__svg {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    vertical-align: middle;
}

.pie_progress__svg svg {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.pie_progress__content,
.pie_progress__number,
.pie_progress__label,
.pie_progress__icon {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pie_progress__number {
    font-size: 28px;
}

.pie_progress__label {
    margin-top: 32px;
    font-size: 12px;
}
.bv-right {
    border-right: 2px solid #efefef;
}
.bg-bm{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1097%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(6%2c 53%2c 122%2c 1)'%3e%3c/rect%3e%3cpath d='M357.527%2c125.666C395.181%2c128.281%2c436.802%2c124.383%2c458.065%2c93.197C481.575%2c58.715%2c479.809%2c12.74%2c459.309%2c-23.612C438.443%2c-60.614%2c399.976%2c-86.713%2c357.527%2c-85.083C317.342%2c-83.54%2c285.726%2c-52.594%2c268.439%2c-16.284C253.458%2c15.181%2c260.057%2c51.214%2c278.582%2c80.731C295.834%2c108.219%2c325.152%2c123.417%2c357.527%2c125.666' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-44.45 551.08 a107.04 107.04 0 1 0 214.08 0 a107.04 107.04 0 1 0 -214.08 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M554.29 29.85 a154.47 154.47 0 1 0 308.94 0 a154.47 154.47 0 1 0 -308.94 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1155.5361773035863 569.04811291782L1116.4066196364533 412.10802908879174 959.4665358074251 451.2375867559247 998.5960934745581 608.177670584953z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M986.6950300158173 68.45142575677518L934.4229363926046 143.10371207300375 1009.075222708833 195.37580569621653 1061.347316332046 120.72351937998798z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M778.8277394077278 35.30159375748106L854.1132138687949 75.33159059553975 894.1432107068536 0.04611613447269036 818.8577362457864-39.98388070358601z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1350.449195471804 434.7466690566671L1231.7799298733923 327.89638237800284 1124.9296431947282 446.5656479764143 1243.5989087931398 553.4159346550786z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M544.3015406270245 421.4306776983617L625.9357425007009 378.0250026159708 520.0101289402763 277.27653734665154z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1015.4 80.46 a144.67 144.67 0 1 0 289.34 0 a144.67 144.67 0 1 0 -289.34 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M731.15 310.86 a132.57 132.57 0 1 0 265.14 0 a132.57 132.57 0 1 0 -265.14 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1097'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}